@import "vars.styl"
:root
  --color__bg #fcfcfc
  --color__selected_bg #ffffff
  --color__text #313131
  --color__text_secondary #525252
  --color__link #1a1fff
  --color__link_visited #575afc
  --color__lines #959595
  --color__light_lines #c9c9c9
  --color__shadow #959595
  --color__light__shadow #d5d5d5
  --color_loading_background linear-gradient(110deg, #eeeeee 8%, #ffffff 18%, #eeeeee 33%);
  --color_input_background #ffffff
  --color_input_font #000
  --color_btn_primary #3400ba
  --color_btn_danger #ba0000
  --color_btn_cyan #00cbc1
  --color_cyan #959595
  --color_blue #959595
  --color_light_blue #959595
  --color_green #959595
  --color_yellow #959595
  --color_red #959595
  @media screen
    &[data-theme="dark"]
      --color__bg #1f1f1f
      --color__text #fdfdfd
      --color__text_secondary #e0e0e0
      --color__link #88e5fd
      --color__link_visited #70faff
      --color__lines #747474
      --color__shadow #9a9a9a
      --color__light__shadow #787878
      --color_loading_background linear-gradient(110deg, #797979 8%, #c6c6c6 18%, #6f6f6f 33%);
      --color_input_background #242424
      --color_input_font #f5f5f5
      --color__selected_bg #555555
      --color_cyan hsl(171, 100%, 41%)
      --color_blue hsl(217, 71%, 53%)
      --color_light_blue hsl(204, 86%, 53%)
      --color_green hsl(141, 53%, 53%)
      --color_yellow hsl(48, 100%, 67%)
      --color_red hsl(348, 100%, 61%)

$background_color = var(--color__bg)
$background_selected_color = var(--color__selected_bg)
$text_color = var(--color__text)
$text_secondary = var(--color__text_secondary)
$link_color = var(--color__link)
$link_color_visited = var(--color__link_visited)
$lines_color = var(--color__lines)
$light_lines_color = var(--color__light_lines)
$shadow_color = var(--color__shadow)
$light_shadow_color = var(--color__light__shadow)
$loading_background = var(--color_loading_background)
$input_background_color = var(--color_input_background)
$input_front_color = var(--color_input_font)
$tbn_primary_color = var(--color_btn_primary)
$tbn_danger_color = var(--color_btn_danger)
$tbn_cyan_color = var(--color_btn_cyan)

$cyan = var(--color_cyan)
$blue = var(--color_blue)
$light_blue = var(--color_light_blue)
$green = var(--color_green)
$yellow = var(--color_yellow)
$red = var(--color_red)
