button
  padding 6px 15px
  border-radius 3px
  border 1px solid $lines_color
  margin 3px
  cursor pointer
.btn-primary
  color white
  background $tbn_primary_color
  border none
.btn-danger
  color white
  background $tbn_danger_color
  border none
.btn-cyan
  color white
  background $tbn_cyan_color
  border none

.btn
  padding 5px 14px
  border-radius 4px
  font-weight 500
  cursor pointer
  border none
.black-btn
  background black
  color white
