.f-cyan
  color $cyan !important

.f-blue
  color $blue !important

.f-light-blue
  color $light_blue !important

.f-green
  color $green !important

.f-yellow
  color $yellow !important

.f-red
  color $red !important

