.clickable
  cursor pointer
.right
  float right
div
  word-break: break-all;
.page-wrapper
  width 100%
  .container
    max-width 1200px
    margin 0 auto
    padding 10px
  .f-container
    margin 0
    padding 40px 0 0 0
.card
  position relative
  display flex
  box-shadow 2px 2px 10px $light_shadow_color
  border-radius 5px
  .card-body
    margin 10px
    flex-grow 1
.list
  list-style none
  padding 0
.center
  text-align center
.self-center
  margin-left auto
  margin-right auto
.title
  font-size 20px
  font-weight 500
.d-flex
  display flex !important
.flex-center
  justify-content center
hr
  color $lines_color

.tabs
  overflow-x auto
  padding 7px 0
  &::-webkit-scrollbar
    height 8px
  &::-webkit-scrollbar-track
    background transparent
  &::-webkit-scrollbar-thumb
    border-radius 3px
    margin 3px
    background $lines_color
  .tab-item
    border-radius 3px
    padding 5px
    margin 3px
    color $text_color
    text-decoration none
    transition .3s
    &:hover
      background $light_shadow_color
    &.active
      background $light_shadow_color
.absolute
  position absolute !important
.no-link
  color $text_color !important
  text-decoration none

.scrollbar
  &::-webkit-scrollbar
    height 10px
  &::-webkit-scrollbar-thumb
    background-color $lines_color
    border-radius 10px

@media screen and (max-width: 620px) {
  .m-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 620px) {
  .m-only {
    display: none !important;
  }
}
