.loading-background
  margin-top 5px
  border-radius 5px
  min-height 20px
  min-width 25px
  background $loading_background
  background-size 200% 100%
  animation 1.5s shine linear infinite

@keyframes shine
  to
    background-position-x -200%
